.players-container {
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.players {
    width: 40vh;
    height: 60vh;
    background-color: blanchedalmond
}